@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}



body{
    background: none;
    color: white;
    font-size: 18px;
    padding: 8px;
}

html {
    background-image: url("../img/bc06.jpeg");
    background-color: white;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    background-position: center;
    background-position: 0px 0px;
	animation: animatedBackground 90s linear infinite;
}

.worker{
    border: 2px solid white;
    background-color: white;
    opacity: 0.95;
    padding: 8px;
}

h1 {
    letter-spacing: 1.1rem;
    color: lightgray;
    font-weight: 600;
}

h4, h3, h2 {
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 8px;
}

.addNewWorker{
    margin: 0 auto;
}

.progress {
    height:2px;
}
.gBlock{
    /*margin: 20px;*/
    background: white;
    color: black;
    opacity: 0.95;
    padding: 8px 16px;
    box-shadow: 0 4px 8px 0 rgba(173,216,230 ,0.5), 0 6px 20px 0 rgba(173,216,230 ,0.6);
}

.blockchainDiv {
    background-color: white;
    color: black;
    opacity: 0.95;
    padding: 16px;

}
.form-control {
/*    font-size: 10px;  */
    color: black;
}

.form-control:focus {
    font-size: 18px;
    color: black;
}

.form-control[readonly]{
    background-color: white;
}

.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #8F2CA1; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
    margin-left:16px;
}

.hidden{
    display: none;
}

.tick {
    color: #8F2CA1;
    font-size: 27px;
    margin-left: 6px;
    font-weight: 600;
}

.chainLabel {
    text-transform: capitalize;
}

.dataLabel {
    padding-left: 32px;
}

.modal{
    color: black;
}

.priceCard, .newsCard{
    opacity: 0.95;
}

.btcwdgt-text-ticker.btcwdgt-light .btcwdgt-edge {
    background-color: #8F2CA1 !important;
}

.btcwdgt-s-price.btcwdgt-light {
    margin: 0px !important;
    width: 100% !important;
    max-width: none !important;
    border-radius: 6px !important;
    opacity: 0.95 !important;
}

.btcwdgt-headlines.btcwdgt-light .btcwdgt-header{
    background-color: #8F2CA1 !important;
}

.btcwdgt-headlines.btcwdgt-light {
    margin: 0px !important;
    width: 100% !important;
    max-width: none !important;
    border-radius: 6px !important;
    opacity: 0.95 !important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}